In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [3]:
loan_application_df = pd.read_csv('/home/student/new_loan_application.csv',low_memory=False)

In [4]:
selected_columns = loan_application_df[['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT', 'AMT_ANNUITY','NAME_TYPE_SUITE','NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS','NAME_HOUSING_TYPE','DAYS_BIRTH',
'DAYS_EMPLOYED','DAYS_REGISTRATION','OWN_CAR_AGE','FLAG_MOBIL','OCCUPATION_TYPE','CNT_FAM_MEMBERS', 'NAME_CONTRACT_STATUS']].copy()

KeyError: "None of [Index(['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',\n       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',\n       'AMT_ANNUITY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE',\n       'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',\n       'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'OWN_CAR_AGE',\n       'FLAG_MOBIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',\n       'NAME_CONTRACT_STATUS'],\n      dtype='object')] are in the [columns]"

In [5]:
renamed_columns = selected_columns.rename(columns={
    'TARGET': 'target',
    'NAME_CONTRACT_TYPE': 'contract_type',
    'CODE_GENDER': 'code_gender',
    'FLAG_OWN_CAR': 'owns_car',
    'FLAG_OWN_REALTY': 'own_realty',
    'CNT_CHILDREN': 'count_children',
    'AMT_INCOME_TOTAL': 'income_total',
    'AMT_CREDIT': 'amount_credit',
    'AMT_ANNUITY': 'amount_credibility',
    'NAME_TYPE_SUITE': 'type_suite',
    'NAME_INCOME_TYPE': 'income_type',
    'NAME_EDUCATION_TYPE': 'education_type',
    'NAME_FAMILY_STATUS': 'family_status',
    'NAME_HOUSING_TYPE': 'housing_type',
    'DAYS_BIRTH': 'days_of_birth_in_days',
    'DAYS_EMPLOYED': 'days_employed',
    'DAYS_REGISTRATION': 'days_registration',
    'OWN_CAR_AGE': 'car_age',
    'FLAG_MOBIL': 'mobile_owner',
    'OCCUPATION_TYPE': 'occupation_type',
    'CNT_FAM_MEMBERS': 'number_of_family_members',
    'NAME_CONTRACT_STATUS': 'contract_status'
})

NameError: name 'selected_columns' is not defined

In [6]:
new_dataset = renamed_columns

NameError: name 'renamed_columns' is not defined

In [55]:
new_dataset.to_csv('/home/student/new_loan_application.csv', index=False)

In [78]:
# new_dataset.head()

In [64]:
new_dataset.isnull().sum()

target                      1037968
contract_type               1037968
code_gender                 1037968
owns_car                    1037968
own_realty                  1037968
count_children              1037968
income_total                1037968
amount_credit               1037968
amount_credibility          1037968
type_suite                  1037968
income_type                 1037968
education_type              1037968
family_status               1037968
housing_type                1037968
days_of_birth_in_days       1037968
days_employed               1037968
days_registration           1037968
car_age                     1045033
mobile_owner                1037968
occupation_type             1037968
number_of_family_members    1037968
contract_status                   0
dtype: int64

In [1]:
new_dataset['type_suite'] = new_dataset.groupby(['count_children', 'family_status'])['type_suite'].transform(lambda x: x.ffill().bfill())

NameError: name 'new_dataset' is not defined

In [59]:
new_dataset['car_age'] = new_dataset.groupby(['income_total', 'owns_car'])['car_age'].transform(lambda x: x.ffill().bfill())

In [60]:
# Ensure that occupation_type is treated as a string type
new_dataset['occupation_type'] = new_dataset['occupation_type'].astype(str)

# Perform the groupby operation with forward fill and backward fill
new_dataset['occupation_type'] = (
    new_dataset.groupby(['income_total', 'income_type'])['occupation_type']
    .transform(lambda x: x.ffill().bfill())
)

# Optionally, you can also set the Pandas option if you want to opt into future behavior
pd.set_option('future.no_silent_downcasting', True)

# Check the result
print(new_dataset[['income_total', 'income_type', 'occupation_type']].head())

   income_total    income_type occupation_type
0      202500.0        Working        Laborers
1      270000.0  State servant      Core staff
2       67500.0        Working        Laborers
3      135000.0        Working        Laborers
4      121500.0        Working      Core staff

In [47]:
# Ensure that occupation_type is treated as a string type
new_dataset['car_age'] = new_dataset['car_age'].astype(str)

# Perform the groupby operation with forward fill and backward fill
new_dataset['car_age'] = (
    new_dataset.groupby(['owns_car', 'income_type'])['car_age']
    .transform(lambda x: x.ffill().bfill())
)

# Optionally, you can also set the Pandas option if you want to opt into future behavior
pd.set_option('future.no_silent_downcasting', True)

# Check the result
print(new_dataset[['owns_car', 'income_type', 'car_age']].head())

  owns_car    income_type car_age
0        N        Working     nan
1        N  State servant     nan
2        Y        Working    26.0
3        N        Working     nan
4        N        Working     nan

In [47]:
pd.set_option('display.max_columns', None)

In [49]:
# print(new_dataset)