In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression

In [20]:
loan_application_df=pd.read_csv('/home/student/loan_application.csv')

In [11]:
# application_df.head()

In [22]:
loan_application_df.isnull().sum()

Unnamed: 0                       0
SK_ID_CURR                       0
TARGET                           0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     1436
AMT_REQ_CREDIT_BUREAU_WEEK    1436
AMT_REQ_CREDIT_BUREAU_MON     1436
AMT_REQ_CREDIT_BUREAU_QRT     1436
AMT_REQ_CREDIT_BUREAU_YEAR    1436
Length: 123, dtype: int64

In [42]:
renamed_columns = loan_application_df.rename(columns={
    'TARGET': 'target',
    'NAME_CONTRACT_TYPE': 'contract_type',
    'CODE_GENDER': 'code_gender',
    'FLAG_OWN_CAR': 'owns_car',
    'FLAG_OWN_REALTY': 'own_realty',
    'CNT_CHILDREN': 'count_children',
    'AMT_INCOME_TOTAL': 'income_total',
    'AMT_CREDIT': 'amount_credit',
    'AMT_ANNUITY': 'amount_credibility',
    'NAME_TYPE_SUITE': 'type_suite',
    'NAME_INCOME_TYPE': 'income_type',
    'NAME_EDUCATION_TYPE': 'education_type',
    'NAME_FAMILY_STATUS': 'family_status',
    'NAME_HOUSING_TYPE': 'housing_type',
    'DAYS_BIRTH': 'days_of_birth_in_days',
    'DAYS_EMPLOYED': 'days_employed',
    'DAYS_REGISTRATION': 'days_registration',
    'OWN_CAR_AGE': 'car_age',
    'FLAG_MOBIL': 'mobile_owner',
    'OCCUPATION_TYPE': 'occupation_type',
    'CNT_FAM_MEMBERS': 'number_of_family_members'
}, inplace=True)

In [43]:
# new_application_df = loan_application_df[columns_to_use].copy()

# Display the new DataFrame
# print(new_application_df.head())

selected_columns = loan_application_df[['target', 'contract_type', 'code_gender', 'owns_car', 'own_realty', 'count_children', 'income_total', 'amount_credit',
                                        'amount_credibility', 'type_suite', 'income_type', 'education_type', 'family_status', 'housing_type', 'days_of_birth_in_days', 'days_employed',
                                        'days_registration', 'car_age', 'mobile_owner', 'occupation_type', 'number_of_family_members']]


# # Selecting the relevant columns for your new DataFrame
# columns_to_use = [
#     'target',
#     'contract_type',
#     'code_gender',
#     'owns_car',
#     'own_realty',
#     'count_children',
#     'income_total',
#     'amount_credit',
#     'amount_credibility',
#     'type_suite',
#     'income_type',
#     'education_type',
#     'family_status',
#     'housing_type',
#     'days_of_birth_in_days',
#     'days_employed',
#     'days_registration',
#     'car_age',
#     'mobile_owner',
#     'occupation_type',
#     'number_of_family_members'
# ]

new_dataset = renamed_columns

In [34]:
# # Loop through each column and check for empty cells
# for column in new_application_df.columns:
#     empty_cells = new_application_df[column].isnull().sum()
#     print(f"Column '{column}' has {empty_cells} empty cells.")

In [44]:
new_dataset.to_csv('/home/student/new_loan_application.csv', index=False)

AttributeError: 'NoneType' object has no attribute 'to_csv'