In [23]:
!pip install fuzzywuzzy python-Levenshtein

Requirement already satisfied: fuzzywuzzy in ./mlclass/lib/python3.10/site-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in ./mlclass/lib/python3.10/site-packages (0.26.0)
Requirement already satisfied: Levenshtein==0.26.0 in ./mlclass/lib/python3.10/site-packages (from python-Levenshtein) (0.26.0)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.9.0 in ./mlclass/lib/python3.10/site-packages (from Levenshtein==0.26.0->python-Levenshtein) (3.10.0)

In [24]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [25]:
df1 = pd.read_csv('/home/student/application_test.csv')
df2 = pd.read_csv('/home/student/previous_application.csv')

In [26]:
# Function to find the best match
def find_best_match(id, choices, scorer=fuzz.ratio):
    best_match = process.extractOne(str(id), choices, scorer=scorer)
    return best_match[2] if best_match[1] >= 80 else None

In [27]:
df1['SK_ID_CURR'] = df1['SK_ID_CURR'].astype(int)
df2['SK_ID_CURR'] = df2['SK_ID_CURR'].astype(int)

In [28]:
merged_df = pd.merge(df1, df2, on='SK_ID_CURR', how='outer', suffixes=('_df1', '_df2'))

In [29]:
# Display results
print("Shape of merged dataframe:", merged_df.shape)
print("\nFirst few rows of merged dataframe:")
print(merged_df.head())

Shape of merged dataframe: (1462445, 158)

First few rows of merged dataframe:
   SK_ID_CURR NAME_CONTRACT_TYPE_df1 CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100001             Cash loans           F            N               Y
1      100002                    NaN         NaN          NaN             NaN
2      100003                    NaN         NaN          NaN             NaN
3      100003                    NaN         NaN          NaN             NaN
4      100003                    NaN         NaN          NaN             NaN

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT_df1  AMT_ANNUITY_df1  \
0           0.0          135000.0        568800.0          20560.5
1           NaN               NaN             NaN              NaN
2           NaN               NaN             NaN              NaN
3           NaN               NaN             NaN              NaN
4           NaN               NaN             NaN              NaN

   AMT_GOODS_PRICE_df1  ...  NAME_SELLER_INDUSTRY CNT_PAYMENT  \
0             450000.0  ...                   NaN         NaN
1                  NaN  ...       Auto technology        24.0
2                  NaN  ...                   XNA        12.0
3                  NaN  ...             Furniture         6.0
4                  NaN  ...  Consumer electronics        12.0

  NAME_YIELD_GROUP          PRODUCT_COMBINATION DAYS_FIRST_DRAWING  \
0              NaN                          NaN                NaN
1       low_normal      POS other with interest           365243.0
2       low_normal             Cash X-Sell: low           365243.0
3           middle   POS industry with interest           365243.0
4           middle  POS household with interest           365243.0

   DAYS_FIRST_DUE  DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  DAYS_TERMINATION  \
0             NaN                        NaN            NaN               NaN
1          -565.0                      125.0          -25.0             -17.0
2          -716.0                     -386.0         -536.0            -527.0
3          -797.0                     -647.0         -647.0            -639.0
4         -2310.0                    -1980.0        -1980.0           -1976.0

   NFLAG_INSURED_ON_APPROVAL
0                        NaN
1                        0.0
2                        1.0
3                        0.0
4                        1.0

[5 rows x 158 columns]

In [30]:
# Check for unmatched entries from df1
unmatched_df1 = merged_df[merged_df.isnull().any(axis=1) & merged_df['SK_ID_CURR'].notnull()]
print(f"\nNumber of unmatched entries from df1: {len(unmatched_df1)}")

Number of unmatched entries from df1: 1462445

In [31]:
# Check for unmatched entries from df2
unmatched_df2 = merged_df[merged_df.isnull().any(axis=1) & merged_df['SK_ID_CURR'].notnull()]
print(f"Number of unmatched entries from df2: {len(unmatched_df2)}")

Number of unmatched entries from df2: 1462445

In [32]:
# Display some unmatched entries if any
if len(unmatched_df1) > 0 or len(unmatched_df2) > 0:
    print("\nSample of unmatched entries:")
    print(merged_df[merged_df.isnull().any(axis=1)].head())

Sample of unmatched entries:
   SK_ID_CURR NAME_CONTRACT_TYPE_df1 CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100001             Cash loans           F            N               Y
1      100002                    NaN         NaN          NaN             NaN
2      100003                    NaN         NaN          NaN             NaN
3      100003                    NaN         NaN          NaN             NaN
4      100003                    NaN         NaN          NaN             NaN

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT_df1  AMT_ANNUITY_df1  \
0           0.0          135000.0        568800.0          20560.5
1           NaN               NaN             NaN              NaN
2           NaN               NaN             NaN              NaN
3           NaN               NaN             NaN              NaN
4           NaN               NaN             NaN              NaN

   AMT_GOODS_PRICE_df1  ...  NAME_SELLER_INDUSTRY CNT_PAYMENT  \
0             450000.0  ...                   NaN         NaN
1                  NaN  ...       Auto technology        24.0
2                  NaN  ...                   XNA        12.0
3                  NaN  ...             Furniture         6.0
4                  NaN  ...  Consumer electronics        12.0

  NAME_YIELD_GROUP          PRODUCT_COMBINATION DAYS_FIRST_DRAWING  \
0              NaN                          NaN                NaN
1       low_normal      POS other with interest           365243.0
2       low_normal             Cash X-Sell: low           365243.0
3           middle   POS industry with interest           365243.0
4           middle  POS household with interest           365243.0

   DAYS_FIRST_DUE  DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  DAYS_TERMINATION  \
0             NaN                        NaN            NaN               NaN
1          -565.0                      125.0          -25.0             -17.0
2          -716.0                     -386.0         -536.0            -527.0
3          -797.0                     -647.0         -647.0            -639.0
4         -2310.0                    -1980.0        -1980.0           -1976.0

   NFLAG_INSURED_ON_APPROVAL
0                        NaN
1                        0.0
2                        1.0
3                        0.0
4                        1.0

[5 rows x 158 columns]

In [34]:
print(len(merged_df))

1462445

In [33]:
merged_df.to_csv('int_merged_dataset.csv', index=False)
print("\nMerged dataset saved as 'int_merged_dataset.csv'")

Merged dataset saved as 'int_merged_dataset.csv'

In [39]:
# merged_df.head()

In [40]:
print(merged_df.columns.tolist())

['SK_ID_CURR', 'NAME_CONTRACT_TYPE_df1', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT_df1', 'AMT_ANNUITY_df1', 'AMT_GOODS_PRICE_df1', 'NAME_TYPE_SUITE_df1', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START_df1', 'HOUR_APPR_PROCESS_START_df1', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'Unnamed: 0', 'SK_ID_PREV', 'NAME_CONTRACT_TYPE_df2', 'AMT_ANNUITY_df2', 'AMT_APPLICATION', 'AMT_CREDIT_df2', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE_df2', 'WEEKDAY_APPR_PROCESS_START_df2', 'HOUR_APPR_PROCESS_START_df2', 'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY', 'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY', 'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE', 'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON', 'NAME_TYPE_SUITE_df2', 'NAME_CLIENT_TYPE', 'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE', 'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY', 'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION', 'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL']

In [41]:
merged_df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE_df1,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_df1,AMT_ANNUITY_df1,AMT_GOODS_PRICE_df1,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,100001,Cash loans,F,N,Y,0.0,135000.0,568800.0,20560.5,450000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Auto technology,24.0,low_normal,POS other with interest,365243.0,-565.0,125.0,-25.0,-17.0,0.0
2,100003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-716.0,-386.0,-536.0,-527.0,1.0
3,100003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Furniture,6.0,middle,POS industry with interest,365243.0,-797.0,-647.0,-647.0,-639.0,0.0
4,100003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Consumer electronics,12.0,middle,POS household with interest,365243.0,-2310.0,-1980.0,-1980.0,-1976.0,1.0